:root {
	/* aspect-ratio: 63 / 88; */
	--card-height: 120px;
	--card-width: 85.9px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

button {
	height: 35px;
}

.card {
	position: absolute;
	height: var(--card-height);
	width: var(--card-width);
	perspective: 1000px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 4px;
}

.card-inner {
	position: relative;
	height: calc(var(--card-height) - 5px);
	width: calc(var(--card-width) - 5px);
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border: 2px solid white;
	border-radius: 4px;
}
.card-front,
.card-back {
	position: absolute;
	height: calc(var(--card-height) - 5px);
	width: calc(var(--card-width) - 5px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 4px;
}

.card-img {
	height: calc(var(--card-height) - 5px);
	width: calc(var(--card-width) - 5px);
}

.card-back {
	transform: rotateY(180deg);
}

.draw-pile .card-inner {
	transform: rotateY(180deg);
}

.to-be-shuffled .card-inner {
	transform: rotateY(180deg);
}

.main-menu {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 3px;
	width: 90vw;
	height: 90vh;
	align-items: center;
}

.game-board,
.draw-pile,
.play-piles-zone,
.play-pile,
.stock-pile,
.hand-zone,
.discard-pile-zone,
.discard-pile {
	gap: 1rem;
}

.game-board {
	width: 90vw;
	height: 90vh;
	display: none;
	grid-template-areas:
		'player1 player1 player1'
		'completed play draw'
		'player0 player0 player0';
	border: 3px solid black;
	border-radius: 8px;
	grid-template-rows: 4fr 3fr 4fr;
	grid-template-columns: 15% 1fr 15%;
}

.pl1 {
	grid-area: player1;
}

.to-be-shuffled {
	grid-area: completed;
	border: 1px solid black;
	border-radius: 4px;
}

.play-piles-zone {
	grid-area: play;
	display: flex;
	justify-content: space-around;
}

.draw-pile {
	grid-area: draw;
}

.pl0 {
	grid-area: player0;
}

.p0-container,
.p1-container,
.p2-container,
.p3-container {
	width: 20%;
	grid-area: playpile;
	display: flex;
	flex-direction: column;
}

.pl0 > .hand-zone,
.pl1 > .hand-zone {
	width: 20%;
}

.pl0 > .discard-pile-zone,
.pl1 > .discard-pile-zone {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pl0 > .discard-pile-zone > .discard-pile,
.pl1 > .discard-pile-zone > .discard-pile {
	border: 1px solid black;
	border-radius: 4px;
}

.pl0 > .stock-pile,
.pl1 > .stock-pile {
	width: 100%;
	margin-left: auto;
	grid-area: stock;
}

.hand-zone {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	z-index: 100;
}

.pl0 {
	display: grid;
	grid-template-areas:
		'discard discard stock'
		'hand hand hand';
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 1rem;
}

.pl1 {
	display: grid;
	grid-template-areas:
		'hand hand hand'
		'discard discard stock';
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 1rem;
}

.pl0 > .discard-pile-zone,
.pl1 > .discard-pile-zone {
	grid-area: discard;
}

.pl0 > .hand-zone,
.pl1 > .hand-zone {
	grid-area: hand;
	width: 100%;
}

.discard-pile {
	position: relative;
}

.discard-pile .card {
	position: absolute;
	left: 0;
	top: 0;
	transition: top 0.2s;
}

.p0-container,
.p1-container,
.p2-container,
.p3-container {
	width: calc(var(--card-width) + 5px);
}

.play-pile {
	border: 1px solid black;
	border-radius: 4px;
}

.play-pile-text {
	border: 2px solid black;
	border-radius: 4px;
	width: 95%;
	height: 20%;
	font-size: 0.75rem;
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
}

.green {
	background: green;
}

.red {
	background: red;
}

.selected > .card-inner {
	border: 4px solid yellow;
	border-radius: 4px;
	transform: translateY(25px);
}

.pl0 .selected > .card-inner {
	border: 4px solid yellow;
	border-radius: 4px;
	transform: translateY(-25px);
}

.draw-pile,
.to-be-shuffled,
.play-pile,
.discard-pile,
.stock-pile {
	aspect-ratio: 63 / 88;
	height: calc(var(--card-height) + 5px);
}

.pl0 .hand-zone .card:nth-child(1) {
	left: 40%;
	transform: rotate(-30deg);
	transform-origin: 50% 100%;
}
.pl0 .hand-zone .card:nth-child(2) {
	left: 40%;
	transform: rotate(-15deg);
	transform-origin: 50% 100%;
}
.pl0 .hand-zone .card:nth-child(3) {
	left: 40%;
	transform: rotate(0);
	transform-origin: 50% 100%;
}
.pl0 .hand-zone .card:nth-child(4) {
	left: 40%;
	transform: rotate(15deg);
	transform-origin: 50% 100%;
}
.pl0 .hand-zone .card:nth-child(5) {
	left: 40%;
	transform: rotate(30deg);
	transform-origin: 50% 100%;
}

.pl1 .hand-zone .card:nth-child(1) {
	left: 40%;
	transform: translateY(-55px) rotate(-30deg);
	transform-origin: 50% 10%;
}
.pl1 .hand-zone .card:nth-child(2) {
	left: 40%;
	transform: translateY(-55px) rotate(-15deg);
	transform-origin: 50% 10%;
}
.pl1 .hand-zone .card:nth-child(3) {
	left: 40%;
	transform: translateY(-55px) rotate(0);
	transform-origin: 50% 10%;
}
.pl1 .hand-zone .card:nth-child(4) {
	left: 40%;
	transform: translateY(-55px) rotate(15deg);
	transform-origin: 50% 10%;
}
.pl1 .hand-zone .card:nth-child(5) {
	left: 40%;
	transform: translateY(-55px) rotate(30deg);
	transform-origin: 50% 10%;
}
