:root {
	--card-width: 1px;
	--card-height: 100px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.control-buttons {
	border: 1px solid black;
	position: relative;
	height: 90vh;
	display: flex;
	flex-direction: column;
	width: 220px;
}

.hidden {
	display: none;
}

button {
	height: 35px;
}

.card-container {
	margin-top: 30px;
	position: relative;
}

.card {
	position: absolute;
	height: var(--card-height);
	width: var(--card-width);
	perspective: 1000px;
	cursor: pointer;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.card-front,
.card-back {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card-img {
	height: 100%;
}

.card-back {
	transform: rotateY(180deg);
}

.draw-pile .card-inner {
	transform: rotateY(180deg);
}

.game-board,
.draw-pile,
.play-pile-zone,
.play-pile,
.stock-pile,
.hand-zone,
.discard-pile-zone,
.discard-pile {
	/* border: 1px solid black; */
	gap: 1rem;
}

.game-board {
	width: 90vw;
	height: 90vh;
	display: grid;
	grid-template-areas:
		'player1 player1 player1'
		'completed play draw'
		'player0 player0 player0';
	border: 1px solid black;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 15% 1fr 15%;
}

.player-zone.pl0,
.player-zone.pl1 {
	grid-area: player0;
	border: 1px solid blue;
	display: flex;
}

.to-be-shuffled {
	grid-area: completed;
	border: 1px solid red;
}

.play-piles-zone {
	grid-area: play;
	border: 1px solid cyan;
	display: flex;
	justify-content: space-around;
}

.draw-pile {
	grid-area: draw;
	border: 1px solid orange;
}
.player-zone.pl1 {
	grid-area: player1;
	border: 1px solid blue;
}

.play-pile {
	border: 1px solid green;
	width: 20%;
}

.pl0 > .hand-zone,
.pl1 > .hand-zone {
	border: 1px solid chocolate;
	width: 40%;
}

.pl0 > .discard-pile-zone,
.pl1 > .discard-pile-zone {
	border: 1px solid grey;
	width: 40%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pl0 > .discard-pile-zone > .discard-pile,
.pl1 > .discard-pile-zone > .discard-pile {
	border: 1px solid black;
}

.pl0 > .stock-pile,
.pl1 > .stock-pile {
	border: 1px solid tomato;
	width: 15%;
	margin-left: auto;
}

.hand-zone {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.hand-zone .card:nth-child(1) {
	left: 0px;
}
.hand-zone .card:nth-child(2) {
	left: 20%;
}
.hand-zone .card:nth-child(3) {
	left: 40%;
}
.hand-zone .card:nth-child(4) {
	left: 60%;
}
.hand-zone .card:nth-child(5) {
	left: 80%;
}
